.contact-screen{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


input#name, #email, #desc, textarea{
    background-color: transparent; !important;
}



input#submit {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}