.wrapper-links{
    align-items: stretch;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.nav-item{
    font-family: "montserrat", serif;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    padding: 10px; !important;
    position: relative;
    margin-bottom: 10px;
}

.nav-item:hover{
    filter: opacity(80%);
}

.social-navbar{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}