.onyra-card[b-rhkb11hsk9]{
    background-color: rgba(0, 0, 0, 0) !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    opacity: 0.95;
    border-top: 1px solid;
}

.image-card[b-rhkb11hsk9]{
    display: block;
    width: 100%;
    max-width: 200px;
    height: 50%;
    margin: auto;
}